<div id="editarModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="container" id="form-validation" novalidate onsubmit="return validateForm()" method="POST" action="/cultivos/edit/">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Cultivo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nombreCultivo" class='control-label'>Nombre</label>
                            <input name="cultivo[nombre]" type="text" class="form-control" id="nombreCultivo"
                                placeholder="Nombre" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="superficieAsignadaCultivo" class='control-label'>Superficie Asignada</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ha</span>
                                </div>
                                <input name="cultivo[superficieAsignada]" type="number" min="0" step="0.01" class="form-control"
                                    id="superficieAsignadaCultivo" placeholder="Superficie Asignada" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rendimientoCultivo" class='control-label'>Rendimiento</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">qq/ha</span>
                                </div>
                                <input name="cultivo[rendimiento]" type="number" min="0" step="0.01" class="form-control"
                                    id="rendimientoCultivo" placeholder="Rendimiento" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="precioPizarraCultivo" class='control-label'>Precio Pizarra</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$/t</span>
                                </div>
                                <input name="cultivo[precioPizarra]" type="number" min="0" step="0.01" class="form-control"
                                    id="precioPizarraCultivo" placeholder="Precio Pizarra" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="porcGastosComerCultivo" class='control-label'>Gastos Comercializaci贸n</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="cultivo[porcGastosComer]" type="number" min="0" step="0.01" max="100" class="form-control"
                                    id="porcGastosComerCultivo" placeholder="Gastos Comercializaci贸n" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="porcVentaCultivo" class='control-label'>Venta</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="cultivo[porcVenta]" type="number" min="0" step="0.01" max="100" class="form-control"
                                    id="porcVentaCultivo" placeholder="Venta" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="porcAlmacenamientoCultivo" class='control-label'>Almacenamiento</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="cultivo[porcAlmacenamiento]" type="number" min="0" step="0.01" max="100" class="form-control"
                                    id="porcAlmacenamientoCultivo" placeholder="Almacenamiento" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="porcDoblePropositoCultivo" class='control-label'>Doble Prop贸sito</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="cultivo[porcDobleProposito]" type="number" min="0" step="0.01" max="100" class="form-control"
                                    id="porcDoblePropositoCultivo" placeholder="Doble Prop贸sito" readonly>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="cultivo[empresaId]" value="<%= empresa.empresaId %>">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input id="botonGuardar" type="submit" class="btn btn-info" value="Aceptar">
                </div>
            </form>
        </div>
    </div>
</div>