<!doctype html>
<html>

<head>
    <% include ../../partials/common-head %>
</head>

<body>

    <!--Panel Izquierdo -->
    <% include ../../partials/sidebar %>
    <!-- /Panel izquierdo-->

    <!-- Panel Derecho -->
    <div id="right-panel" class="right-panel">

        <!-- Cabecera-->
        <% include ../../partials/cabecera %>
        <!-- /Cabecera -->

        <!-- Tabla del CRUD-->
        <div class="content mt-3">

            <!-- Mensaje -->
            <% include ../../partials/mensaje %>
            <!-- /Mensaje -->

            <div class="col-sm-12">
                <div class="animated fadeIn">
                    <div id="" class="row mb-4">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex justify-content-start">
                                            <strong class="card-title align-middle">INDICADORES FINANCIEROS AL
                                                <%= empresa.finEjercicioString %></strong>
                                        </div>
                                        <div id="tableButtons" class="d-none d-md-block">
                                            <a id="imprimir" href="#" class="btn btn-primary">
                                                <i class="fa fa-print"></i>Imprimir
                                            </a>
                                        </div>
                                        <div id="tableButtons" class="d-md-none">
                                            <a id="imprimir" href="#" class="text-white">
                                                <i class="fa fa-print"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="divIF" class="card-body p-4">
                                    <!-- Indicador de Liquidez -->
                                    <div class="form-row mt-2">
                                        <h4 class="col-md-12"><b>Indicador de Liquidez</b></h4>
                                    </div>
                                    <div class="form-row  mt-2">
                                        <p class="col-md-3 mt-3">Razón Corriente</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center" style="margin-bottom: -12px;">
                                                Activo Corriente</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center" style="margin-top: -12px;">Pasivo
                                                Corriente</div>
                                        </div>

                                        <p class="mt-3">=</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center importeTotalActivosCorrientes" style="margin-bottom: -12px;">$
                                                0</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center importeTotalPasivosCorrientes" style="margin-top: -12px;">$
                                                0
                                            </div>
                                        </div>

                                        <p class="mt-3">=</p>
                                        <h5 class="mt-3 col-md-2"><b id="razonCorriente">0</b></h5>
                                    </div>

                                    <!-- Indicador de Endeudamiento -->
                                    <div class="form-row mt-4">
                                        <h4 class="col-md-12"><b>Indicador de Endeudamiento</b></h4>
                                    </div>
                                    <div class="form-row  mt-2">
                                        <p class="col-md-3 mt-3">Endeudamiento</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center" style="margin-bottom: -12px;">
                                                Pasivo Total</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center" style="margin-top: -12px;">Activo
                                                Total</div>
                                        </div>

                                        <p class="mt-3">=</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center importeTotalPasivos" style="margin-bottom: -12px;">$
                                                0</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center importeTotalActivos" style="margin-top: -12px;">$
                                                0
                                            </div>
                                        </div>

                                        <p class="mt-3">=</p>
                                        <h5 class="mt-3 col-md-2"><b id="endeudamiento">0</b></h5>
                                    </div>

                                    <!-- Índice de Inmobilización -->
                                    <div class="form-row mt-4">
                                        <h4 class="col-md-12"><b>Índice de Inmobilización</b></h4>
                                    </div>
                                    <div class="form-row  mt-2">
                                        <p class="col-md-3 mt-3">Inmobilización</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center" style="margin-bottom: -12px;">
                                                Patrimonio Neto</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center" style="margin-top: -12px;">Activo
                                                No Corriente</div>
                                        </div>

                                        <p class="mt-3">=</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center importeTotalPatrimonioNeto" style="margin-bottom: -12px;">$
                                                0</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center importeTotalActivosNoCorrientes" style="margin-top: -12px;">$
                                                0
                                            </div>
                                        </div>

                                        <p class="mt-3">=</p>
                                        <h5 class="mt-3 col-md-2"><b id="inmobilizacion">0</b></h5>
                                    </div>

                                    <!-- Índice de Solvencia -->
                                    <div class="form-row mt-4">
                                        <h4 class="col-md-12"><b>Índice de Solvencia</b></h4>
                                    </div>
                                    <div class="form-row  mt-2">
                                        <p class="col-md-3 mt-3">Solvencia</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center" style="margin-bottom: -12px;">
                                                Activo Total</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center" style="margin-top: -12px;">Pasivo
                                                Total</div>
                                        </div>

                                        <p class="mt-3">=</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center importeTotalActivos" style="margin-bottom: -12px;">$
                                                0</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center importeTotalPasivos" style="margin-top: -12px;">$
                                                0
                                            </div>
                                        </div>

                                        <p class="mt-3">=</p>
                                        <h5 class="mt-3 col-md-2"><b id="solvencia">0</b></h5>
                                    </div>

                                    <!-- Indicador de Diagnóstico Financiero - Estructura Financiera -->
                                    <div class="form-row mt-4">
                                        <h4 class="col-md-12"><b>Indicador de Diagnóstico Financiero - Estructura Financiera</b></h4>
                                    </div>
                                    <div class="form-row  mt-2">
                                        <p class="col-md-3 mt-3">Financiamiento Propio</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center" style="margin-bottom: -12px;">
                                                Patrimonio Neto</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center" style="margin-top: -12px;">Activo
                                                Total</div>
                                        </div>

                                        <p class="mt-3">=</p>

                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center importeTotalPatrimonioNeto" style="margin-bottom: -12px;">$
                                                0</div>
                                            <hr style="border-top: 1px solid #0C0C0C;">
                                            <div class="d-flex justify-content-center importeTotalActivos" style="margin-top: -12px;">$
                                                0
                                            </div>
                                        </div>

                                        <p class="mt-3">=</p>
                                        <h5 class="mt-3 col-md-2"><b id="financiamientoPropio">0</b></h5>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Tabla del CRUD-->
    </div>
    <!-- /Panel Derecho -->


    <!-- Scripts -->
    <% include ../../partials/common-scripts %>

    <script src="/scripts/html2canvas.min.js"></script>
    <script src="/scripts/jsPDF-1.3.2/dist/jspdf.min.js"></script>

    <script src="/scripts/public-indicesFinancieros.js"></script>
</body>

</html>