<div style="position: relative; width:794px; height:42px">
    <div   style="position: absolute; border: 1px solid rgb(0, 0, 0); border-radius: 10px; height: 34px; width: 760px; top: 3px; left: 7px; background-color: rgb(255, 228, 134);" >
    
    
    
    
    </div><div   style="position: absolute; top: 12px; left: 23px; right: auto; bottom: auto; height: auto; width: auto; z-index: 1; font-size: 14px; font-family: sans-serif; text-align: left; font-weight: bold;" >Egresos</div><div   style="position: absolute; top: 12px; left: 224px; right: auto; bottom: auto; height: auto; width: 120px; z-index: 1; font-size: 14px; font-family: sans-serif; text-align: right; font-weight: bold;" >Total ($)</div><div   style="position: absolute; top: 12px; left: 362px; right: auto; bottom: auto; height: auto; width: 120px; z-index: 1; font-size: 14px; font-family: sans-serif; text-align: right; font-weight: bold;" >Total ($/ha)</div><div   style="position: absolute; top: 12px; left: 499px; right: auto; bottom: auto; height: auto; width: 120px; z-index: 1; font-size: 14px; font-family: sans-serif; text-align: right; font-weight: bold;" >Gasto (%)</div><div   style="position: absolute; top: 12px; left: 635px; right: auto; bottom: auto; height: auto; width: 120px; z-index: 1; font-size: 14px; font-family: sans-serif; text-align: right; font-weight: bold;" >Ing. Neto (%)</div></div>