<!-- Cabecera-->
<header id="header" class="header">
	<div class="header-menu">

		<!-- Notificacion-->
		<div class="col-sm-7">
			<!--<a id="menuToggle" class="menutoggle pull-left">
				<i class="fa fa fa-tasks"></i>
			</a> -->
			<div class="header-left">
				
				
			</div>
		</div>
		<!-- /Notificacion-->
		<!-- Perfil-->
		<div class="col-sm-5">
			<div class="user-area dropdown float-right" style="line-height: 2.5;">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<strong id="nombreUsuario" class="mr-2"><%= user.email %></strong>
					<img class="user-avatar rounded-circle" src="/src/perfil.jpg" alt="User Avatar">
				</a>
				<div class="user-menu dropdown-menu">
					<a class="nav-link" href="#miPerfil"  data-toggle="modal">
						<i class="fa fa-user"></i> Mi Perfil
					</a>
					<a id="botonLogout" class="nav-link" href="/auth/logout">
						<i class="fa fa-power-off"></i> Cerrar la sesión
					</a>
				</div>
			</div>
		</div>
		<!-- /Perfil-->
	</div>
	<script>
		// disable browser console during tests
		if ("<%= process.env.NODE_ENV %>" == "test") {
			if (!window.console) window.console = {};
			var methods = ["log", "debug", "warn", "info"];
			for (var i = 0; i < methods.length; i++) {
				console[methods[i]] = function () {};
			}
		}
	</script>
</header>
<!-- /Cabecera -->
