<meta name="description" content="FarmERP">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FarmERP</title>
<link rel="shortcut icon" href="src/favicon.ico">
<link rel="stylesheet" href="/template/assets/css/normalize.css">
<link rel="stylesheet" href="/styles/bootstrap.min.css">

<link rel="stylesheet" href="/template/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="/template/assets/scss/style.css">
<link rel="stylesheet" href="/styles/fonts.css">

<link rel="stylesheet" href="/template/assets/css/lib/datatable/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/styles/app.css">

<link rel="stylesheet" href="/styles/autocomplete.css">
<link rel="stylesheet" href="/styles/tabla.css">