<div id="editarModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="container" id="form-validation" novalidate onsubmit="return validateForm()" method="POST"
                action="">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Equipo - Herramienta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closeModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="radio-inline mr-3">
                                <input type="radio" name="tipoAlta" value="capital" id="radioCapital"
                                    onclick="MostrarCapital()" checked>
                                <label for="radioCapital">Capital Inicial</label>
                            </label>
                            <label class="radio-inline mr-3">
                                <input type="radio" name="tipoAlta" value="compra" id="radioCompra"
                                    onclick="MostrarCompra()">
                                <label for="radioCompra">Compra durante el ejercicio</label>
                            </label>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="conceptoEquipo" class='control-label'>Concepto</label>
                            <input name="equipo[concepto]" type="text" class="form-control" id="conceptoEquipo"
                                placeholder="Concepto" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fechaCompraEquipo" class='control-label'>Fecha de Compra</label>
                            <input name="equipo[fechaCompra]" type="date" class="form-control"
                                id="fechaCompraEquipo" value="<%= empresa.inicioEjercicio %>"
                                max="<%= empresa.inicioEjercicio %>" placeholder="Fecha" required
                                onchange="MC_updateFechaDeCompra(this.value)">
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="utaEquipo" class='control-label'>UTA</label>
                            <input name="equipo[uta]" type="number" min="0" step="0.01" class="form-control"
                                id="utaEquipo" placeholder="UTA" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="utaAcarreoEquipo" class='control-label'>UTA Acarreo</label>
                            <input name="equipo[utaAcarreo]" type="number" min="0" step="0.01" class="form-control"
                                id="utaAcarreoEquipo" placeholder="UTA Acarreo" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="valorEquipo" class='control-label'>Valor Unitario</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="equipo[valorUnitario]" type="number" min="0" step="0.01"
                                    class="form-control" id="valorEquipo" placeholder="$/Unidad" required
                                    onkeyup="actualizarValorTotal()">
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="vidaUtilEquipo" class='control-label'>Vida Útil</label>
                            <input name="equipo[vidaUtil]" type="number" min="0" step="1" class="form-control"
                                id="vidaUtilEquipo" placeholder="Años" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="valorResidualEquipo" class='control-label'>Valor Residual</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="equipo[valorResidual]" type="number" min="0" max="100" step="0.01"
                                    class="form-control" id="valorResidualEquipo" value="0" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estadoEquipo" class='control-label'>Estado</label>
                            <select name="equipo[estado]" type="text" class="form-control input-small"
                                id="estadoEquipo" placeholder="" required>
                                <option selected>Bueno</option>
                                <option>Regular</option>
                                <option>Malo</option>
                            </select>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="equipo[empresaId]" value="<%= empresa.empresaId %>">

                    <!-- COMPRA -->
                    <% include ../../partials/movimientosCompra %>
                    <!-- ./COMPRA -->
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"
                        onclick="closeModal()">
                    <input id="botonGuardar" type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>