<div id="rubroAddModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/agriculturaDatosBase/rubro/add/">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Rubro</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nombreRubro" class='control-label'>Nombre</label>
                            <input name="rubro[nombre]" type="text" class="form-control" id="nombreRubro"
                                placeholder="Nombre" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="rubro[empresaId]" value="<%= empresa.empresaId %>">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input id="botonGuardar" type="submit" class="btn btn-info" value="Aceptar">
                </div>
            </form>
        </div>
    </div>
</div>