<!DOCTYPE html>

<head>
    <% include ./partials/common-head %>
    <!-- Custom styles for this template-->
    <link href="/styles/login.css" rel="stylesheet">

</head>
<body>
    <div class="hero-image">
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="../src/logo-farm-erp.png" class="brand_logo" alt="">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
                    <form class="user" method="post" action="/auth/forgot">
                        <div class="text-center">
                        <p style="color:white">Ingrese su email y le llegara un correo para restablecer su contraseña</p>
                        </div>
                        <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
                            <input type="email" name="email" class="form-control form-control-user"
                            id="exampleInputEmail" placeholder="Email">
						</div>
                        <input type="submit" class="btn login_btn"
                            value="Enviar">
                    </form>
				</div>	
				<div class="mt-4">
                    <div class="text-center">
                        <a class="small" href="/auth" style="color: white">Volver al formulario de Ingreso</a>
                    </div>
				</div>
			</div>
        </div>
    </div>
    </div> 
    <script src="/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/form-validation.js"></script>
</body>

</html>