<!DOCTYPE html>

<head>
    <% include ./partials/common-head %>
    <!-- Custom styles for this template-->
    <link href="/styles/login.css" rel="stylesheet">

</head>

<body class="bg-color">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="/src/farmerp-login.png" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Ingrese su nueva Contraseña</h1>
                                    </div>
                                    <!-- Mensaje -->
                                    <% include ./partials/mensaje %>
                                    <!-- /Mensaje -->
                                    <form class="user" id="signin" name="signin" method="post">
                                        <div class="form-group">
                                            <input name="password" type="password"
                                                class="form-control form-control-user" pattern=".{5,}" id="exampleInputPassword"
                                                placeholder="Contraseña">
                                        </div>
                                        <div class="form-group">
                                            <input name="passwordAgain" type="password"
                                                class="form-control form-control-user" pattern=".{5,}" id="exampleInputPasswordAgain"
                                                placeholder="Contraseña">
                                        </div>

                                        <input type="submit" class="btn btn-primary btn-user btn-block"
                                            value="Confirmar">
                                    </form>
                                    
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/auth">Volver al formulario de Ingreso</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    -->
    <!-- Core plugin JavaScript-->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Custom scripts for all pages-->
    <!-- <script src="js/sb-admin-2.min.js"></script> -->

    <% include ./partials/common-scripts %>
</body>

</html>