<div id="editarBancoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" action="/disponibilidades/updateBanco/<%= banco.bancoId %>">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Saldo Inicial de Banco</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="montoInicialBanco" class='control-label'>Saldo Inicial</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="banco[montoInicial]" type="number" min="0" step="0.01" class="form-control"
                                    id="montoInicialBanco" placeholder="Saldo Inicial" value="<%= banco.montoInicial %>" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input id="botonGuardar" type="submit" class="btn btn-info" value="Aceptar">
                </div>
            </form>
        </div>
    </div>
</div>