<div id="verModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="container" id="form-validation" novalidate method="POST" action="">
                <div class="modal-header">
                    <h4 class="modal-title">Ver Pradera</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closeModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cultivoPradera" class='control-label'>Cultivo</label>
                            <input name="pradera[cultivo]" type="text" class="form-control" id="cultivoPradera"
                                placeholder="Cultivo" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fechaImplantacionPradera" class='control-label'>Fecha de Implantación</label>
                            <input name="pradera[fechaImplantacion]" type="date" class="form-control"
                                id="fechaImplantacionPradera" placeholder="Fecha" readonly>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="hectareasPradera" class='control-label'>Cant. Hectáreas</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ha</span>
                                </div>
                                <input name="pradera[hectareas]" type="number" min="0" class="form-control"
                                    id="hectareasPradera" placeholder="Cant. Hectáreas" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="valorPradera" class='control-label'>Valor por Hectárea</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" step="0.01" class="form-control" id="valorPradera"
                                    placeholder="$/ha" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="valorMercadoPradera" class='control-label'>Valor de Mercado</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" step="0.01" class="form-control"
                                    id="valorMercadoPradera" placeholder="$/ha" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="vidaUtilPradera" class='control-label'>Vida Útil</label>
                            <input name="pradera[vidaUtil]" type="number" min="0" step="1" class="form-control"
                                id="vidaUtilPradera" placeholder="Años" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="antiguedadPradera" class='control-label'>Antigüedad</label>
                            <input name="" type="number" min="0" step="1" class="form-control" id="antiguedadPradera"
                                placeholder="Años" readonly>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="estadoPradera" class='control-label'>Estado</label>
                            <input name="pradera[estado]" type="text" class="form-control input-small"
                                id="estadoPradera" placeholder="" readonly>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="amortizacionPradera" class='control-label'>Amortización</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01" class="form-control"
                                    id="amortizacionPradera" value="0" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="amortizacionAcumuladaPradera" class='control-label'>Amortización
                                Acumulada</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01" class="form-control"
                                    id="amortizacionAcumuladaPradera" value="0" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="valorResidualPradera" class='control-label'>Porc. Valor Residual</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01" class="form-control"
                                    id="valorResidualPradera" value="0" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="valorResidualMontoPradera" class='control-label'>Monto Valor Residual</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01" class="form-control"
                                    id="valorResidualMontoPradera" value="0" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="valorANuevoPradera" class='control-label'>Valor A Nuevo</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01" class="form-control"
                                    id="valorANuevoPradera" value="0" readonly>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar"
                        onclick="closeModal()">
                </div>
            </form>
        </div>
    </div>
</div>