<div id="verModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="container" id="form-validation" novalidate method="POST" action="">
                <div class="modal-header">
                    <h4 class="modal-title">Ver Grupo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closeModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="nombreEmpresa" class='control-label'>Nombre Empresa</label>
                            <input name="empresa[nombre]" type="text" class="form-control" id="nombreEmpresa"
                                placeholder="Empresa" readonly>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="anioCursado" class='control-label'>Año de Cursado</label>
                            <input name="cursado[anio]" type="number" class="form-control" id="anioCursado"
                                placeholder="Año" readonly>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <div id="" class="">
                        <label>Integrantes</label>
                        <div id="divIntegrantes">
                            <div id="lineaUser-0" class="form-row">
                                <div class="form-group col-md-3">
                                    <div class="input-group">
                                        <input type="text" name="users[0][nombre]" class="form-control" id="userNombre-0" placeholder="Nombre" readonly>
                                    </div>
                                </div>
                    
                                <div class="form-group col-md-3">
                                    <div class="input-group">
                                        <input type="text" name="users[0][apellido]" class="form-control" id="userApellido-0" placeholder="Apellido" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-md-5">
                                    <div class="input-group">
                                        <input type="email" name="users[0][email]" class="form-control" id="userEmail-0" placeholder="Email"  readonly>
                                    </div>
                                </div>
                            </div>


                        </div>
                
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar"
                        onclick="closeModal()">
                </div>
            </form>
        </div>
    </div>
</div>