<div id="editarModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="container" id="form-validation" novalidate method="POST" onsubmit="return validateForm()" action="/deudaFinancieras/edit">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Deuda Financiera</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closeModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombreDeudaFinanciera" class='control-label'>Concepto</label>
                            <input name="deudaFinanciera[nombre]" type="text" class="form-control" id="nombreDeudaFinanciera"
                                placeholder="Concepto" value="" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="montoDeudaFinanciera" class='control-label'>Monto</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="deudaFinanciera[monto]" type="number" min="0" step="0.01" class="form-control"
                                    id="montoDeudaFinanciera" placeholder="Monto" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido y solo admite valores enteros.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="plazoDeudaFinanciera" class='control-label'>Plazo</label>
                            <select class="form-control" name="deudaFinanciera[plazo]" id="plazoDeudaFinanciera" required>
                                <option value="Corto" selected>Corto</option>
                                <option value="Mediano">Mediano</option>
                                <option value="Largo">Largo</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ejercicioDeudaFinanciera" class='control-label'>Ejercicio</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="deudaFinanciera[porcEjercicio]" type="number" min="0" step="0.01" max="100"
                                    class="form-control" id="ejercicioDeudaFinanciera" placeholder="Ejercicio" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cuotasDeudaFinanciera" class='control-label'>Cant. Coutas</label>

                            <input name="deudaFinanciera[cantCuotas]" type="number" min="1" step="1" max="12"
                                class="form-control" id="cuotasDeudaFinanciera" placeholder="Cuotas" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cuentaDeudaFinanciera" class='control-label'>Debitar de Cuenta</label>
                            <select class="form-control" name="deudaFinanciera[cuenta]" id="cuentaDeudaFinanciera" required>
                                <option value="Banco" selected>Banco</option>
                                <option value="Caja">Caja</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <label class="col-md-12">Distribución de Pagos</label>
                        <div class="form-group col-md-3">
                            <label id="mes1Label" for="mes1DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes1]"
                                    id="mes1DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes2Label" for="mes2DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes2]"
                                    id="mes2DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes3Label" for="mes3DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes3]"
                                    id="mes3DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <label id="mes4Label" for="mes4DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes4]"
                                    id="mes4DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes5Label" for="mes5DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes5]"
                                    id="mes5DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes6Label" for="mes6DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes6]"
                                    id="mes6DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <label id="mes7Label" for="mes7DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes7]"
                                    id="mes7DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes8Label" for="mes8DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes8]"
                                    id="mes8DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes9Label" for="mes9DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes9]"
                                    id="mes9DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <label id="mes10Label" for="mes10DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes10]"
                                    id="mes10DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes11Label" for="mes11DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes11]"
                                    id="mes11DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes12Label" for="mes12DeudaFinanciera-edit" class="checkbox"><input name="deudaFinanciera[mes12]"
                                    id="mes12DeudaFinanciera-edit" value="true" type="checkbox" class="mr-1"></label>
                        </div>
                    </div>


                    <input type="hidden" name="deudaFinanciera[empresaId]" value="<%= empresa.empresaId %>">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"
                        onclick="closeModal()">
                    <input id="botonGuardar" type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>