<div id="verModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="container" id="form-validation" novalidate method="POST" action="/deudaFinancieras/add">
                    <div class="modal-header">
                        <h4 class="modal-title">Ver Deuda Financiera</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="closeModal()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombreDeudaFinanciera" class='control-label'>Concepto</label>
                                <input name="deudaFinanciera[nombre]" type="text" class="form-control" id="nombreDeudaFinanciera"
                                    placeholder="Concepto" value="" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="montoDeudaFinanciera" class='control-label'>Monto Total</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input name="deudaFinanciera[monto]" type="number" min="0" step="0.01" class="form-control"
                                        id="montoDeudaFinanciera" placeholder="Monto" readonly>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="plazoDeudaFinanciera" class='control-label'>Plazo</label>
                                <input class="form-control" name="deudaFinanciera[plazo]" id="plazoDeudaFinanciera" readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="ejercicioDeudaFinanciera" class='control-label'>Ejercicio</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">%</span>
                                    </div>
                                    <input name="deudaFinanciera[porcEjercicio]" type="number" min="0" step="0.01" max="100"
                                        class="form-control" id="ejercicioDeudaFinanciera" placeholder="Ejercicio" readonly>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cuotasDeudaFinanciera" class='control-label'>Cant. Coutas</label>
    
                                <input name="deudaFinanciera[cantCuotas]" type="number" min="1" step="1" max="12" class="form-control"
                                    id="cuotasDeudaFinanciera" placeholder="Cuotas" readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cuentaDeudaFinanciera" class='control-label'>Debitar de Cuenta</label>
                                <input class="form-control" name="deudaFinanciera[cuenta]" id="cuentaDeudaFinanciera" readonly>
                            </div>
                        </div>
    
                        <div class="form-row">
                            <label class="col-md-12">Distribución de Pagos</label>
                            <div class="form-group col-md-3">
                                <label id="mes1Label" for="mes1DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes1]"
                                        id="mes1DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                                <label id="mes2Label" for="mes2DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes2]"
                                        id="mes2DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                                <label id="mes3Label" for="mes3DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes3]"
                                        id="mes3DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                            </div>
                            <div class="form-group col-md-3">
                                <label id="mes4Label" for="mes4DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes4]"
                                        id="mes4DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                                <label id="mes5Label" for="mes5DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes5]"
                                        id="mes5DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                                <label id="mes6Label" for="mes6DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes6]"
                                        id="mes6DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                            </div>
                            <div class="form-group col-md-3">
                                <label id="mes7Label" for="mes7DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes7]"
                                        id="mes7DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                                <label id="mes8Label" for="mes8DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes8]"
                                        id="mes8DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                                <label id="mes9Label" for="mes9DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes9]"
                                        id="mes9DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                            </div>
                            <div class="form-group col-md-3">
                                <label id="mes10Label" for="mes10DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes10]"
                                        id="mes10DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                                <label id="mes11Label" for="mes11DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes11]"
                                        id="mes11DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                                <label id="mes12Label" for="mes12DeudaFinanciera" class="checkbox"><input name="deudaFinanciera[mes12]"
                                        id="mes12DeudaFinanciera" value="true" type="checkbox" class="mr-1" disabled></label>
                            </div>
                        </div>
    
    
                        <input type="hidden" name="deudaFinanciera[empresaId]" value="<%= empresa.empresaId %>">
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar"
                            onclick="closeModal()">
                    </div>
                </form>
            </div>
        </div>
    </div>