<div id="editarModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="container" id="form-validation" novalidate method="POST" onsubmit="return validateForm()" action="/deudaFiscals/edit">
                <div class="modal-header">
                    <h4 class="modal-title">Editar Deuda Fiscal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closeModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombreDeudaFiscal" class='control-label'>Concepto</label>
                            <input name="deudaFiscal[nombre]" type="text" class="form-control" id="nombreDeudaFiscal"
                                placeholder="Concepto" value="" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="montoDeudaFiscal" class='control-label'>Monto</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="deudaFiscal[monto]" type="number" min="0" step="0.01" class="form-control"
                                    id="montoDeudaFiscal" placeholder="Monto" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido y solo admite valores enteros.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="plazoDeudaFiscal" class='control-label'>Plazo</label>
                            <select class="form-control" name="deudaFiscal[plazo]" id="plazoDeudaFiscal" required>
                                <option value="Corto" selected>Corto</option>
                                <option value="Mediano">Mediano</option>
                                <option value="Largo">Largo</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ejercicioDeudaFiscal" class='control-label'>Ejercicio</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="deudaFiscal[porcEjercicio]" type="number" min="0" step="0.01" max="100"
                                    class="form-control" id="ejercicioDeudaFiscal" placeholder="Ejercicio" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cuotasDeudaFiscal" class='control-label'>Cant. Coutas</label>

                            <input name="deudaFiscal[cantCuotas]" type="number" min="1" step="1" max="12"
                                class="form-control" id="cuotasDeudaFiscal" placeholder="Cuotas" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="cuentaDeudaFiscal" class='control-label'>Acreditar a Cuenta</label>
                            <select class="form-control" name="deudaFiscal[cuenta]" id="cuentaDeudaFiscal" required>
                                <option value="Banco" selected>Banco</option>
                                <option value="Caja">Caja</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <label class="col-md-12">Distribución de Pagos</label>
                        <div class="form-group col-md-3">
                            <label id="mes1Label" for="mes1DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes1]"
                                    id="mes1DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes2Label" for="mes2DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes2]"
                                    id="mes2DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes3Label" for="mes3DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes3]"
                                    id="mes3DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <label id="mes4Label" for="mes4DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes4]"
                                    id="mes4DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes5Label" for="mes5DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes5]"
                                    id="mes5DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes6Label" for="mes6DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes6]"
                                    id="mes6DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <label id="mes7Label" for="mes7DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes7]"
                                    id="mes7DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes8Label" for="mes8DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes8]"
                                    id="mes8DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes9Label" for="mes9DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes9]"
                                    id="mes9DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <label id="mes10Label" for="mes10DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes10]"
                                    id="mes10DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes11Label" for="mes11DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes11]"
                                    id="mes11DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                            <label id="mes12Label" for="mes12DeudaFiscal-edit" class="checkbox"><input name="deudaFiscal[mes12]"
                                    id="mes12DeudaFiscal-edit" value="true" type="checkbox" class="mr-1"></label>
                        </div>
                    </div>


                    <input type="hidden" name="deudaFiscal[empresaId]" value="<%= empresa.empresaId %>">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"
                        onclick="closeModal()">
                    <input id="botonGuardar" type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>