<!doctype html>
<html>

<head>
    <% include ../../partials/common-head %>
</head>

<body>

    <!--Panel Izquierdo -->
    <% include ../../partials/sidebar %>
    <!-- /Panel izquierdo-->

    <!-- Panel Derecho -->
    <div id="right-panel" class="right-panel">

        <!-- Cabecera-->
        <% include ../../partials/cabecera %>
        <!-- /Cabecera -->

        <!-- Tabla del CRUD-->
        <div class="content mt-3">

            <!-- Mensaje -->
            <% include ../../partials/mensaje %>
            <!-- /Mensaje -->

            <div class="col-sm-12">
                <div class="animated fadeIn">
                    <div id="" class="row mb-3">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex justify-content-start">
                                            <input type="date" id="situacionPatrimonialFecha" class="form-control"
                                                min="<%= empresa.inicioEjercicio %>" max="<%= empresa.finEjercicio %>"
                                                value="<%= empresa.finEjercicio %>" onchange="updateESP(this.value)">
                                        </div>
                                        <div id="tableButtons" class="d-none d-md-block">
                                            <a id="imprimir" href="#" class="btn btn-secondary">
                                                <i class="fa fa-print"></i> Imprimir
                                            </a>
                                        </div>
                                        <div id="tableButtons" class="d-md-none">
                                            <a id="imprimir" href="#" class="text-white">
                                                <i class="fa fa-print"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divESP" class="row mb-4">
                        <!-- Activos -->
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center">
                                        <strong class="card-title align-middle">ACTIVO</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <h4 class="col-md-12"><b>Activos Corrientes</b></h4>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-8 mt-1"><b>Disponibilidades</b></p>
                                        <p class="col-md-4 mt-1 text-right"><b>$ </b><b
                                                id="importeDisponibilidades" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divCaja" class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Caja</p>
                                    </div>
                                    <div id="divBanco" class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Banco</p>
                                    </div>
                                    <div id="divInversiones" class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Inversiones Transitorias</p>
                                    </div>

                                    <!-- Créditos -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Créditos</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeTotalCreditos" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divCreditos">
                                    </div>

                                    <!-- Retiro de Socios -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Retiro de Socios</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeTotalRetiroSocios" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divRetiroSocios">
                                    </div>

                                    <!-- Insumos Agricolas Ganaderos -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Insumos Agrícolas Ganaderos</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeTotalInsumos" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divInsumos">
                                    </div>

                                    <!-- Praderas - Amortización -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Praderas - Amortización</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importePraderasAmortizacion" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divPraderasAmortizacion">
                                    </div>

                                    <!-- Stock de Productos -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Stock Productos</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b id="importeStock" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divStock">
                                    </div>

                                    <!-- Hacienda - Bienes de Cambio -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Hacienda - Bienes de Cambio</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeHaciendaCambio" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divHaciendaCambio">
                                    </div>

                                    <!-- Total Activo Corriente -->
                                    <div class="form-row mt-2">
                                        <h4 class="col-md-7"><b>Total Activos Corrientes</b></h4>
                                        <h4 class="col-md-5 text-right"><b>$ </b><b
                                                id="importeTotalActivosCorrientes" class="importe">0.00</b></h4>
                                    </div>

                                    <hr>
                                    <div class="form-row">
                                        <h4 class="col-md-12 mt-2"><b>Activos No Corrientes</b></h4>
                                    </div>

                                    <!-- Hacienda - Bienes de Uso -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Hacienda - Bienes de Uso</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b id="importeHaciendaUso" class="importe">0.00</b>
                                        </p>
                                    </div>
                                    <div id="divHaciendaUso">
                                    </div>

                                    <!-- Praderas -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Praderas</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b id="importePraderas" class="importe">0.00</b>
                                        </p>
                                    </div>
                                    <div id="divPraderas">
                                    </div>

                                    <!-- Mejoras - Infraestructura -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Mejoras - Infraestructura</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeInfraestructura" class="importe">0.00</b>
                                        </p>
                                    </div>

                                    <!-- Administración -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Administración</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeAdministracion" class="importe">0.00</b>
                                        </p>
                                    </div>

                                    <!-- Equipos y Herramientas -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Equipos y Herramientas</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b id="importeEquipos" class="importe">0.00</b>
                                        </p>
                                    </div>

                                    <!-- Rodados -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Rodados</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b id="importeRodados" class="importe">0.00</b>
                                        </p>
                                    </div>

                                    <!-- Tractores -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Tractores</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b id="importeTractores" class="importe">0.00</b>
                                        </p>
                                    </div>

                                    <!-- Implementos -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Implementos</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b id="importeImplementos" class="importe">0.00</b>
                                        </p>
                                    </div>

                                    <!-- Autopropulsados -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Autopropulsados</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeAutopropulsados" class="importe">0.00</b>
                                        </p>
                                    </div>

                                    <!-- Valor de la Tierra -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Valor de la Tierra</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b id="importeLotes" class="importe">0.00</b>
                                        </p>
                                    </div>

                                    <!-- Total Activo No Corriente -->
                                    <div class="form-row mt-2">
                                        <h4 class="col-md-7"><b>Total Activos No Corrientes</b></h4>
                                        <h4 class="col-md-5 text-right"><b>$ </b><b
                                                id="importeTotalActivosNoCorrientes" class="importe">0.00</b></h4>
                                    </div>
                                    <hr>
                                    <!-- Total Activo -->
                                    <div class="form-row mt-3">
                                        <h3 class="col-md-5"><b>Total Activos</b></h3>
                                        <h3 class="col-md-7 text-right"><b>$ </b><b id="importeTotalActivos" class="importe">0.00</b>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Activos -->

                        <div class="col-md-6">
                            <!-- Pasivos -->
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center">
                                        <strong class="card-title align-middle">PASIVO</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <h4 class="col-md-12"><b>Pasivos Corrientes</b></h4>
                                    </div>
                                    <!-- Deudas Comerciales -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Deudas Comerciales</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeTotalDeudasComerciales" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divDeudasComerciales">
                                    </div>

                                    <!-- Deudas Financieras -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Deudas Financieras</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeTotalDeudasFinancieras" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divDeudasFinancieras">
                                    </div>

                                    <!-- Deudas Fiscales -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Deudas Fiscales</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeTotalDeudasFiscales" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divDeudasFiscales">
                                    </div>

                                    <!-- Deudas Sociales -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Deudas Sociales</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeTotalDeudasSociales" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divDeudasSociales">
                                    </div>

                                    <!-- Otras Deudas -->
                                    <div class="form-row">
                                        <p class="col-md-7 mt-1"><b>Otras Deudas</b></p>
                                        <p class="col-md-5 mt-1 text-right"><b>$ </b><b
                                                id="importeTotalDeudasOtras" class="importe">0.00</b></p>
                                    </div>
                                    <div id="divDeudasOtras">
                                    </div>

                                    <!-- Total Pasivo Corriente -->
                                    <div class="form-row mt-2">
                                        <h4 class="col-md-7"><b>Total Pasivos Corrientes</b></h4>
                                        <h4 class="col-md-5 text-right"><b>$ </b><b
                                                id="importeTotalPasivosCorrientes" class="importe">0.00</b></h4>
                                    </div>

                                    <hr>
                                    <div class="form-row">
                                        <h4 class="col-md-12 mt-2"><b>Pasivos No Corrientes</b></h4>
                                    </div>
                                    <!-- Total Pasivo No Corriente -->
                                    <div class="form-row mt-2">
                                        <h4 class="col-md-7"><b>Total Pasivos No Corrientes</b></h4>
                                        <h4 class="col-md-5 text-right"><b>$ </b><b
                                                id="importeTotalPasivosNoCorrientes" class="importe">0.00</b></h4>
                                    </div>
                                    <hr>
                                    <!-- Total Pasivo -->
                                    <div class="form-row mt-3">
                                        <h3 class="col-md-5"><b>Total Pasivos</b></h3>
                                        <h3 class="col-md-7 text-right"><b>$ </b><b id="importeTotalPasivos" class="importe">0.00</b>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- /Pasivos -->
                            <!-- Patrimonio Neto -->
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center">
                                        <strong class="card-title align-middle">PATRIMONIO NETO</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row mt-3">
                                        <h3 class="col-md-5"><b>Total P. Neto</b></h3>
                                        <h3 class="col-md-7 text-right"><b>$ </b><b
                                                id="importeTotalPatrimonioNeto" class="importe">0.00</b>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- /Patrimonio Neto -->
                            <!-- Pasivos + Patrimonio Neto -->
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center">
                                        <strong class="card-title align-middle">PASIVOS + PATRIMONIO NETO</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row mt-3">
                                        <h3 class="col-md-5"><b>Tot. Pasivos + P. Neto</b></h3>
                                        <h3 class="col-md-7 text-right"><b>$ </b><b
                                                id="importeTotalPasivosMasPatrimonioNeto" class="importe">0.00</b>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- /Pasivos + Patrimonio Neto -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Tabla del CRUD-->
    </div>
    <!-- /Panel Derecho -->


    <!-- Scripts -->
    <% include ../../partials/common-scripts %>

    <script src="/scripts/html2canvas.min.js"></script>
    <script src="/scripts/jsPDF-1.3.2/dist/jspdf.min.js"></script>

    <script src="/scripts/public-situacionPatrimonial.js"></script>
</body>

</html>