<!doctype html>
<html>

<head>
	<% include ../../partials/common-head %>
</head>

<body>

	<!--Panel Izquierdo -->
	<% include ../../partials/sidebar %>
	<!-- /Panel izquierdo-->

	<!-- Panel Derecho -->
	<div id="right-panel" class="right-panel">

		<!-- Cabecera-->
		<% include ../../partials/cabecera %>
		<!-- /Cabecera -->

		<!-- Tabla del CRUD-->
		<div class="content mt-3">

			<!-- Mensaje -->
			<% include ../../partials/mensaje %>
			<!-- /Mensaje -->

			<div class="col-sm-12">
				<div class="animated fadeIn">
					<div class="row">
						<div class="col-md-12">
							<!-- Cuerpo -->
							<div class="card">
								<div class="card-header">
									<div class="d-flex justify-content-between">
										<div class="d-flex justify-content-start">
											<strong class="card-title align-middle">Hacienda Bovina</strong>
											<div id="titulo" data-value="Tabla de Lotes"></div>
										</div>
										<div id="tableButtons" class="d-none d-md-block">
											<a id="agregar" href="#agregarModal" class="btn btn-primary"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i> Agregar
											</a>
										</div>
										<div id="tableButtons" class="d-md-none">
											<a id="agregar" href="#agregarModal" class="text-white" data-toggle="modal">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="tabla" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>Nombre</th>
													<th>Superficie (ha)</th>
													<th>Valor ($/ha)</th>
													<th>Valor Total ($)</th>
													<th class="d-none">Fecha de Compra</th>
													<th class="d-none">Fecha de Venta</th>
													<th class="not-export-col">Acciones</th>
												</tr>
											</thead>
											
										</table>
									</div>
								</div>
							</div>
							<!-- /Cuerpo -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Tabla del CRUD-->
	</div>
	<!-- /Panel Derecho -->

	<!-- Formulario de los Popups  -->
	<% include haciendaBovina-add %>
	<!-- /Formulario de los Popups  -->

	<!-- Scripts -->
	<% include ../../partials/common-scripts %>
	<script type="text/javascript">
		InitDataTable("#tabla");
	</script>
	<script src="/scripts/public-lotes.js"></script>
</body>

</html>