table.table td a.view {
    color: #03A9F4;
}

table.table td a.edit {
    color: #FFC107;
}

a.edit {
    color: #FFC107;
}

table.table td a.alta {
    color: rgba(3, 90, 5);
}

table.table td a.liquidar {
    color: rgba(3, 90, 5);
}

table.table td a.delete {
    color: #E34724;
}

table.table td a.ficha {
    color: rgb(41, 39, 39);
}

table.table td a.fichaEmpty {
    color: rgb(122, 118, 118);
}

table.table td a.imprimir {
    color: black;
}

.card .card-header {
    background-color: #66BB6A;
    color: white;
}

.card .card-header .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.card .card-header .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}