<div id="deshacerBajaModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="">
                    <div class="modal-header">
                        <h4 class="modal-title">Reactivar Cuenta de Usuario</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="closeModal()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Al reactivar esta cuenta el usuario podrá tener acceso a la aplicación nuevamente.</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"
                            onclick="closeModal()">
                        <input id="botonBorrar" type="submit" class="btn btn-info" value="Confirmar">
                    </div>
                </form>
            </div>
        </div>
    </div>