<div id="verModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="container" id="form-validation" novalidate method="POST" action="">
                <div class="modal-header">
                    <h4 class="modal-title">Ver Infraestructura - Mejora</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="conceptoInf" class='control-label'>Concepto</label>
                            <input name="infraestructura[concepto]" type="text" class="form-control" id="conceptoInf"
                                placeholder="Concepto" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="fechaCompraInf" class='control-label'>Fecha de Compra</label>
                            <input name="infraestructura[fechaCompra]" type="date" class="form-control"
                                id="fechaCompraInf" placeholder="Fecha" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="fechaCierreEjerc" class='control-label'>Fecha de Cierre</label>
                            <input name="" type="date" class="form-control"
                                id="" value="<%= empresa.finEjercicio %>" readonly>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="cantidadInf" class='control-label'>Cantidad</label>
                            <input name="infraestructura[cantidad]" type="number" min="0" class="form-control"
                                id="cantidadInf" placeholder="Cantidad" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="unidadInf" class='control-label'>Unidad</label>
                            <input name="infraestructura[unidad]" type="text" class="form-control input-small"
                                id="unidadInf" placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="valorInf" class='control-label'>Valor de Mercado</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" step="0.01"
                                    class="form-control" id="valorMercadoInf" placeholder="$/Unidad" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="vidaUtilInf" class='control-label'>Vida Útil</label>
                            <input name="infraestructura[vidaUtil]" type="number" min="0" step="1" class="form-control"
                                id="vidaUtilInf" placeholder="Años" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="antiguedadInf" class='control-label'>Antigüedad</label>
                            <input name="" type="number" min="0" step="1" class="form-control"
                                id="antiguedadInf" placeholder="Años" readonly>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="estadoInf" class='control-label'>Estado</label>
                            <input name="infraestructura[estado]" type="text" class="form-control input-small"
                                id="estadoInf" placeholder="" readonly>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="amortizacionInf" class='control-label'>Amortización</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01"
                                    class="form-control" id="amortizacionInf" value="0" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="amortizacionAcumuladaInf" class='control-label'>Amortización Acumulada</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01"
                                    class="form-control" id="amortizacionAcumuladaInf" value="0" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="valorResidualInf" class='control-label'>Porc. Valor Residual</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01"
                                    class="form-control" id="valorResidualInf" value="0" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="valorResidualMontoInf" class='control-label'>Monto Valor Residual</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01"
                                    class="form-control" id="valorResidualMontoInf" value="0" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="valorANuevoInf" class='control-label'>Valor A Nuevo</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="" type="number" min="0" max="100" step="0.01"
                                    class="form-control" id="valorANuevoInf" value="0" readonly>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cerrar">
                </div>
            </form>
        </div>
    </div>
</div>