<div id="agregarModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="container" id="form-validation" novalidate method="POST" action="/rodados/add">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Rodado</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="conceptoRodado" class='control-label'>Concepto</label>
                            <input name="rodado[concepto]" type="text" class="form-control" id="conceptoRodado"
                                placeholder="Concepto" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="fechaCompraRodado" class='control-label'>Fecha de Compra</label>
                            <input name="rodado[fechaCompra]"  value="<%= empresa.inicioEjercicio %>" max="<%= empresa.finEjercicio %>" type="date" class="form-control"
                                id="fechaCompraRodado" placeholder="Fecha" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cantidadRodado" class='control-label'>Cantidad</label>
                            <input name="rodado[cantidad]" type="number" min="0" class="form-control"
                                id="cantidadRodado" placeholder="Cantidad" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                       
                        <div class="form-group col-md-6">
                            <label for="valorRodado" class='control-label'>Valor de Mercado</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="rodado[valorUnitario]" type="number" min="0" step="0.01"
                                    class="form-control" id="valorRodado" placeholder="$/Unidad" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="vidaUtilRodado" class='control-label'>Vida Útil</label>
                            <input name="rodado[vidaUtil]" type="number" min="0" step="1" class="form-control"
                                id="vidaUtilRodado" placeholder="Años" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="valorResidualRodado" class='control-label'>Valor Residual</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input name="rodado[valorResidual]" type="number" min="0" max="100" step="0.01"
                                    class="form-control" id="valorResidualRodado" value="10" required>
                                <div class="invalid-feedback">
                                    Este campo es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estadoRodado" class='control-label'>Estado</label>
                            <select name="rodado[estado]" type="text" class="form-control input-small"
                                id="estadoRodado" placeholder="" required>
                                <option selected>Bueno</option>
                                <option>Regular</option>
                                <option>Malo</option>
                            </select>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="rodado[empresaId]" value="<%= empresa.empresaId %>">
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input id="botonGuardar" type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>