<div id="agregarModal" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form class="container" id="form-validation" novalidate method="POST" action="/categoriasHacienda/add">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Categoría de Hacienda</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closeModal()">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="tipoCategoriaHacienda" class='control-label'>Tipo de Hacienda</label>
                            <select name="categoriaHacienda[tipoHaciendaId]" id="tipoCategoriaHacienda"
                                class="form-control" required>
                                <% tiposHacienda.forEach(tipo => { %>
                                <option value="<%= tipo.tipoHaciendaId %>"><%= tipo.nombre %></option>
                                <% }) %>
                            </select>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nombreCategoriaHacienda" class='control-label'>Categoría</label>
                            <input name="categoriaHacienda[nombre]" type="text" class="form-control"
                                id="nombreCategoriaHacienda" placeholder="Nombre" value="" required>
                            <div class="invalid-feedback">
                                Este campo es requerido.
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="categoriaHacienda[empresaId]" value="<%= empresa.empresaId %>">

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar"
                        onclick="closeModal()">
                    <input id="botonGuardar" type="submit" class="btn btn-info" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>